
.add-event-toggler:hover {
    opacity: .91;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    margin: auto;
    width: 450px;
    max-width: 100%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    padding: 1.7rem;
    border-radius: 0.5rem;
}
.modal form{
    display: flex;
    flex-direction: column;
    
}
.modal form input, .modal form select {
    padding: .5rem 1rem;
    margin: .3rem 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;

}
.footer {
    margin-top: .5rem;
    color: white;
}
.footer .cancel{
    padding: .5rem 1rem;
    background-color: #dc2626;
    margin-right: 1rem;
   
}
.footer .add{
    padding: .5rem 1rem;
    background-color: #22c55e;
}